* {
    font-family:Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: indianred;
    color: dodgerblue;
    font-size: 40px;
    font-weight: bold;
}

img {
    width: 500px;
    height: auto;
}

p {
    text-align: center;
}

h2 {
    color: wheat;
    background-color: grey;
}

ul {
    font-weight: bold;
}

ol {
    font-style: italic;
}